 <script type="text/javascript">
/*
SUBJECT:    A nice little carousel, like when we we were kids v1.4
RELEASED:   06.12.2013
UPDATED:    09.04.2015
AUTHOR:     feddyups at Webatect Networks, on behalf of Tricky3 Web Mangling
EMAIL:      feddyups@gmail.com, rick@tricky3.co.uk
WEBSITE:    http://www.freelancer.com/u/feddyups.html
SUPPORT:    http://tricky3.co.uk/
*/

{% if settings.slider_font_observer %}
function cookie( name, value, days ){
  if( value === undefined ){
    var cookiestring = "; " + window.document.cookie;
    var cookies = cookiestring.split( "; " + name + "=" );
    if ( cookies.length === 2 ){
      return cookies.pop().split( ";" ).shift();
    }
    return null;
  }
  else {
    var expires;
    if( value === false ){
      days = -1;
    }
    if ( days ) {
      var date = new Date();
      date.setTime( date.getTime() + ( days * 24 * 60 * 60 * 1000 ) );
      expires = "; expires="+date.toGMTString();
    }
    else {
      expires = "";
    }
    window.document.cookie = name + "=" + value + expires + "; path=/";
  }
}

function bodyScar (){
  $('body').addClass('fonts-loaded');
}

if( !cookie( "fonts" ) ){cookie( "fonts", "{{shop.domain}}", 7 );}else{bodyScar ();}

{% assign fontloads = settings.slider_web_fonts | split:',' %}
{% assign loop = fontloads.size | minus: 1 %}
{% unless loop == '0' %}
var fontNames = [];
var fontObserverName = [];
{% for i in (0..loop) %}
fontNames.push('{{fontloads[i]}}');
fontObserverName.push('font_{{i}}');
{% endfor %}
var fontNum = fontNames.length;
(function( w ){
  if ($('body').hasClass('fonts-loaded')) {
    return;
  }
  for (var i = 0; i < fontNum; i++) {
    fontObserverName[i] = new w.FontFaceObserver( String(fontNames[i]), {});
  }
  if (fontNum == 1) {
    w.Promise
    .all([fontObserverName[0].check()])
    .then(function(){bodyScar();});
  }
  else if (fontNum == 2){
    w.Promise
    .all([fontObserverName[0].check(),fontObserverName[1].check()])
    .then(function(){bodyScar();});
  }
  else {
    w.Promise
    .all([fontObserverName[0].check(),fontObserverName[1].check(),fontObserverName[2].check()])
    .then(function(){bodyScar();});
  }
}( this ));
{% endunless %}
{% endif %}

function debounce(func, wait, immediate) {
  var timeout;
  return function() {
    var context = this, args = arguments;
    var later = function() {
      timeout = null;
      if (!immediate) func.apply(context, args);
    };
    var callNow = immediate && !timeout;
    clearTimeout(timeout);
    timeout = setTimeout(later, wait);
    if (callNow) func.apply(context, args);
  };
};

(function ($) {
  $.fn.carousel = function ($settings) {
    return this.each(function () {
      // Variables
      var settings = $.extend({
        timerDuration: 5000,
        animationDuration: 800,
        useSwipeGestures: true,
        useTimer: true
      },
      $settings
    );
    var self = this,
        slides              = [],
        timer               = 0,
        current_slide       = 0,
        is_animating        = false,
        loading_bar_percent = 0,
        loading_bar_timer   = 0;
    
    function constructor() {
      // get slides
      $(self).find('div.slides > div').each(function (index) {
        if (index !== 0) {
          $(this).hide();
        }
        slides.push(this);
      });

      $(self).find('.thumb_pagination a:eq(0)').addClass('active');
      $(self).find('.mobile-pagination a:eq(0)').addClass('active');
      {% unless settings.slider_hidetextbox %}
        {% if settings.slider_showtextbelow %}
          $('#mobile_content').find('.textoverlay:eq(0)').addClass('active');
        {% endif %}
      {% endunless %}
      // set tiling background-images on homepage, or set background color
      
        for (var i = 0; i < slides.length; i++) {
          var image_src         = $(slides[i]).find('img').attr('srcset'),
              repeating_value   = $(slides[i]).find('#slide-data-container').data('repeat'),
              dataSmallScreen   = $(slides[i]).find('#slide-data-container').data('smallscreen'),
              repeating_bgcolor = $(slides[i]).find('#slide-data-container').attr("data-bgcolor");

          if (dataSmallScreen) {
            $(slides[i]).addClass("withMobileImg");
          }
          else{
            $(slides[i]).addClass("withoutMobileImg");
          }
          if ((!repeating_value) && (repeating_bgcolor !== undefined)) {
            $(slides[i]).css({'background-color': repeating_bgcolor + ''});
            $('#mobile_content').find('.textoverlay:eq('+i+')').css({'background-color': repeating_bgcolor + ''});
          }
          if ((image_src !== undefined) && (repeating_value)) {
            $(slides[i]).css({
              'background-image': 'url(' + image_src + ')',
              'background-position': 'center',
              'background-repeat': 'repeat-x'
            });
            $(slides[i]).addClass("removebgformobiles");
          }
        }
        $(self).append('<div class="loading-bar"></div>');
      
      // events
      {% if settings.slider_showprevnext %}
      $(self).find('.menu .next span').bind('click', next);
      $(self).find('.menu .prev span').bind('click', prev);
      {% endif %}
      $(self).find('.thumb_pagination a').bind('click', jump);
      $(self).find('.mobile-pagination a').bind('click', jump);
      // show
      $(self).show();
      // resize
      window.addEventListener('resize', resize);

      if ("onorientationchange" in window) {
        if (!window.addEventListener) {
          window.attachEvent("orientationchange", function () {
            resize();
          });
        } else {
          window.addEventListener("orientationchange", function () {
            resize();
          }, false);
        }
      }
      resize();
      // swipe gestures
      if (settings.useSwipeGestures) {
        $(self).find('div.slides').bind('swipeleft', next);
        $(self).find('div.slides').bind('swiperight', prev);
      }
      // timer
      changeSlideComplete(0);
    }
    // Change Slide
    function changeSlide($key) {
      if (!is_animating && current_slide !== $key) {
        clearTimeout(timer);
        is_animating = true;
        var image_src = $(slides[$key]).find('img').prop('src');
        //Make Sure Chrome and webkit picks up the value
        if (image_src !== undefined && image_src !== false) {
          image_src = $(slides[$key]).find('img').attr('srcset');
        }
        var repeating_value = $(slides[$key]).find('#slide-data-container').data('repeat');
        var dataSmallScreen = $(slides[$key]).find('#slide-data-container').data('smallscreen');
        var repeating_bgcolor = $(slides[$key]).find('#slide-data-container').attr("data-bgcolor");

        if (dataSmallScreen) {
          $(slides[$key]).addClass("withMobileImg");
        }
        else{
          $(slides[$key]).addClass("withoutMobileImg");
        }
        if (image_src !== undefined && image_src !== false) {
          var image = new Image();
          preloaderStart();
          image.onload = function () {
            $(slides[$key]).find('img').prop('src', image_src).data('src', false);
            if ((repeating_bgcolor !== undefined) && (!repeating_value)) {
              $(slides[$key]).css({'background-color': repeating_bgcolor + ''});
              $('#mobile_content').find('.textoverlay:eq('+$key+')').css({'background-color': repeating_bgcolor + ''});
            }
            //Repeating Value Overrides the bgcolor set at all times
            if (repeating_value) {
              $(slides[$key]).css({
                'background-image': 'url(' + image_src + ')',
                'background-position': 'center',
                'background-repeat': 'repeat-x'
              });
              $(slides[$key]).addClass("removebgformobiles");
            }
            animateInSlide($key);
            preloaderDone();
          }
          image.src = image_src;
          return;
        }
        animateInSlide($key);
      }
    }

    function textSizeRegulate(elw,el,const_minFont,const_maxFont) {
      var $el = $(el);
      $el.css('font-size', Math.max(Math.min(elw/10, const_maxFont), const_minFont)).css('line-height', 'normal');
    }

    function textSizeReset(el,fontSize,lineHeight) {
      var $el = $(el);
      $el.css('font-size', fontSize).css('line-height', lineHeight);
    }


    function animateInSlide($key) {
      $(self).find('.thumb_pagination a.active').each(function () {
        $(this).removeClass('active');
      });
      $(self).find('.thumb_pagination a:eq(' + $key + ')').each(function () {
        $(this).addClass('active');
      });
      $(self).find('.mobile-pagination a.active').each(function () {
        $(this).removeClass('active');
      });
      $(self).find('.mobile-pagination a:eq(' + $key + ')').each(function () {
        $(this).addClass('active');
      });


      




      {% unless settings.slider_hidetextbox %}
        {% if settings.slider_showtextbelow %}
      $('#mobile_content').find('.textoverlay.active').each(function () {
        $(this).removeClass('active');
      });
      $('#mobile_content').find('.textoverlay:eq(' + $key + ')').each(function () {
        $(this).addClass('active');
      });
        {% endif %}
      {% endunless %}


      
      for (var i = 0; i < slides.length; i++) {
        if (i === $key) {
          $(slides[i]).fadeIn({
            complete: function () {
              changeSlideComplete($key);
            },
            duration: settings.animationDuration,
            easing: 'swing'
          });
        } else {
          $(slides[i]).fadeOut({
            duration: settings.animationDuration,
            easing: 'swing'
          });
        }
      }
    }

    function changeSlideComplete($key) {
      current_slide = $key;
      is_animating = false;
      if (settings.useTimer) {
        timer = setTimeout(function () {
          next();
        }, settings.timerDuration);
      }
    }
    // Click Events
    function jump() {
      var index = $(self).find('.thumb_pagination a').index(this);
      index = (index < 0) ? $(self).find('.mobile-pagination a').index(this) : index;
      if (index > -1) {
        changeSlide(index);
      }
      return false;
    }

    function next() {
      var index = current_slide + 1;
      index = (index >= slides.length) ? 0 : index;
      changeSlide(index);
      return false;
    }

    function prev() {
      var index = current_slide - 1;
      index = (index < 0) ? slides.length - 1 : index;
      changeSlide(index);
      return false;
    }


    
    
    // Resize
    var resize = debounce(function() {
      var win_width             = $(window).width(),
          
          contentWidth          = Math.round(win_width/3),
          minHeadlineSize       = parseFloat('{{ settings.slider_mobile_headline_textsize }}'),
          maxHeadlineSize       = parseFloat('{{ settings.slider_headline_textsize }}'),
          minLeadSize           = parseFloat('{{ settings.slider_mobile_lead_textsize }}'),
          maxLeadSize           = parseFloat('{{ settings.slider_lead_textsize }}'),
          minCTASize            = parseFloat('{{ settings.slider_mobile_cta_textsize }}'),
          maxCTASize            = parseFloat('{{ settings.slider_cta_textsize }}'),
          
          headlineLineHeight    = '{{ settings.slider_headline_line_height }}',
          leadLineHeight        = '{{ settings.slider_lead_line_height }}',
          ctaLineHeight         = '{{ settings.slider_cta_line_height }}',
          

          win_height            = $(window).height(),
          img_width, 
          img_height, 
          theImgWidth           = $('#home_feature').data("normalwidth"),
          theImgHeight          = $('#home_feature').data("normalheight"),
          theMobileImgWidth     = $('#home_feature').data("mobilewidth"),
          theMobileImgHeight    = $('#home_feature').data("mobileheight"),

          theMobileImgWidthX2   = theMobileImgWidth/2,
          theMobileImgHeightX2  = theMobileImgHeight/2,

          inverseAspect         = theImgHeight/theImgWidth,
          inverseMobileAspect   = theMobileImgHeight/theMobileImgWidth;

        
      
        //console.log('inverseAspect '+inverseAspect);
        //console.log('theImgWidth '+theImgWidth);
        //console.log('theMobileImgWidthX2 '+theMobileImgWidthX2);
        //console.log('theImgWidth '+theImgWidth);
        //console.log('theMobileImgWidth '+theMobileImgWidth);
        //console.log('theMobileImgWidthX2 '+theMobileImgWidthX2);
        //img_width = theImgWidth;
        //img_height = theImgHeight;
        
        //X2 images, mobile view
        if (win_width <= theMobileImgWidthX2) {
          img_width = theMobileImgWidthX2;
          img_height = theMobileImgHeightX2;
          img_width *= 1;
          img_height *= 1;
          var mobileHide = 'block';
          var desktopHide = 'none';
          console.log('X2 for mobile: Img Width '+theMobileImgWidthX2+' Image Height: '+theMobileImgHeightX2);
          
          //Mobile View
        } else if ((win_width <= theMobileImgWidth) && (win_width > theMobileImgWidthX2)) {
          //img_width = theMobileImgWidth;
          //img_height = theMobileImgHeight;
          img_width = win_width;
          img_height = ((inverseMobileAspect) * (win_width));
          img_width *= 1;
          img_height *= 1;
          var mobileHide = 'block';
          var desktopHide = 'none';
          console.log('mobile: Img Width '+img_width+' Image Height: '+img_height);
          //console.log('mobile: theMobileImgWidth '+theMobileImgWidth+' theMobileImgHeight: '+theMobileImgHeight);
          //console.log('mobile: inverseMobileAspect '+inverseMobileAspect);

          //Between Mobile and Full Desktop View
        } else if ((win_width < theImgWidth) && (win_width > theMobileImgWidth)) {
          img_width = win_width;
          img_height = ((inverseAspect) * (win_width));
          img_width *= 1;
          img_height *= 1;
          var mobileHide = 'none';
          var desktopHide = 'block';
          //console.log('desktop small: Img Width '+img_width+' Image Height: '+img_height);

          textSizeRegulate(contentWidth,'.headline',minHeadlineSize,maxHeadlineSize);
          textSizeRegulate(contentWidth,'.lead',minLeadSize,maxLeadSize);



          //Higher than the image view
        }else if (win_width >= theImgWidth) {
          img_width = theImgWidth;
          img_height = theImgHeight;
          img_width *= 1;
          img_height *= 1;
          var mobileHide = 'none';
          var desktopHide = 'block';
          console.log('desktop : Img Width '+img_width+' Image Height: '+img_height);

          textSizeReset('.headline',maxHeadlineSize,headlineLineHeight);
          textSizeReset('.lead',maxLeadSize,leadLineHeight);

          

        }
         
        $(self).find('div.loading-bar').css({
          top: 0 // img_height - 3
        });
        
        $(self).find('div.slides').css({
          height: img_height
        });
        
        $(self).find('div.slides > div').css({
          width: '100%',
          height: img_height
        });
        $(self).find('div.slides > div > div').css({
          width: img_width,
          height: img_height,
          marginLeft: img_width * -0.5
        });

        $(self).find('.mobilescreen').css("display", mobileHide);
        //if there is a mobile image set, then do your stuff
        $(self).find('.swapper.mobile-img-set').css("display", desktopHide);
    }, 250);
    // Progress Bar
    function preloaderStart() {
      loading_bar_percent = 0;
      $(self).find('div.loading-bar').css({
        width: '0%'
      }).show();
      preloaderNext();
    }

    function preloaderNext() {
      clearTimeout(loading_bar_timer);
      loading_bar_percent += 8;
      if (loading_bar_percent < 100) {
        $(self).find('div.loading-bar').css({
          width: loading_bar_percent + '%'
        });
        loading_bar_timer = setTimeout(function () {
          preloaderNext();
        }, 500);
      }
    }

    function preloaderDone() {
      clearTimeout(loading_bar_timer);
      loading_bar_percent = 100;
      $(self).find('div.loading-bar').css({
        width: loading_bar_percent + '%'
      }).delay(500).fadeOut();
    }

    // Init
    constructor();
  });
};
})(jQuery);




   
   
// Get Set, let's go 
var Initiated = function(){
  var dataShowPagination            = $('#home_feature_images').data("showpagination"),
      dataThumbPagination           = $('#home_feature_images').data("showthumbnails"),
      dataPrevNextPagination        = $('#home_feature_images').data("showprevnext"),
      theImgWidth                   = $('#home_feature').data("normalwidth"),
      theMobileImgWidth             = $('#home_feature').data("mobilewidth"),
      thelength                     = $('#home_feature_images a').length;
      home_slides                   = '',
      thumb_render                  = '',
      next_prev_render              = '',
      mobile_next_prev_render       = '',
      full_render                   = '',
      mobile_content                = '',
      mobile_content_for_each_slide = '',
      img_1024                      = '1024x1024',
      img_600                       = 'grande',
      img_480                       = 'large',
      img_240                       = 'medium';
      img_50                        = 'thumb';


  
  $('#home_feature_images a').each(function (index) {
    var self                  = this,
        dataHeadline          = $(self).data("headline"),
        dataLead              = $(self).data("lead"),
        dataAlignment         = $(self).data("alignment"),
        dataBoxStyle          = $(self).data("style"),
        dataPrompt            = $(self).data("prompt"),
        dataPromptLink        = $(self).data("promptlink"),
        dataSrc               = $(self).find('img').data("srcstring"),
        dataAlt               = $(self).find('img').attr("alt"),
        dataRepetition        = $(self).data("repeat"),
        dataSmallScreen       = $(self).data("smallscreen"),
        dataBgColor           = $(self).data("bgcolor"),
        dataLink              = $(self).attr("href"),
        headline_html         = '',
        smallscreenclass      = 'no-mobile-img-set',
        divsmallscreenclass   = 'smalldisablediv',
        mobileTextDisplay     = 'showformobile';
        additionalimage       = '',
        additionalimageSet    = '',
        newdataSrc_1024       = '',
        newdataSrc_600        = '',
        newdataSrc_480        = '',
        newdataSrc_240        = '',
        newdataSrc_50         = '',
        newdataSmallSrc_1024  = '',
        newdataSmallSrc_600   = '',
        newdataSmallSrc_480   = '',
        newdataSmallSrc_240   = '';
        newdataSmallSrc_50    = '';


    /*Shopify says 
    medium Returns the image at a maximum size of 240 by 240 pixels.
    large Returns the image at a maximum size of 480 by 480 pixels.
    grande Returns the image at a maximum size of 600 by 600 pixels.
    1024x1024 Returns the image at a maximum size of 1024 by 1024 pixels.
    */

    function bigshopifysizer(imgsrc,shopifysize1024,grande,large,medium,thumb){
      newdataSrc_1024   = imgsrc.replace(".jpg","_"+shopifysize1024+".jpg");
      newdataSrc_600    = imgsrc.replace(".jpg","_"+grande+".jpg");
      newdataSrc_480    = imgsrc.replace(".jpg","_"+large+".jpg");
      newdataSrc_240    = imgsrc.replace(".jpg","_"+medium+".jpg");
      newdataSrc_50    = imgsrc.replace(".jpg","_"+thumb+".jpg");
    }

    function smallshopifysizer(imgsrc,shopifysize1024,grande,large,medium,thumb){
      newdataSmallSrc_1024   = imgsrc.replace(".jpg","_"+shopifysize1024+".jpg");
      newdataSmallSrc_600    = imgsrc.replace(".jpg","_"+grande+".jpg");
      newdataSmallSrc_480    = imgsrc.replace(".jpg","_"+large+".jpg");
      newdataSmallSrc_240    = imgsrc.replace(".jpg","_"+medium+".jpg");
      newdataSmallSrc_50    = imgsrc.replace(".jpg","_"+thumb+".jpg");
    }

    if (dataHeadline) {
      headline_html = '<div class="textfits headline">'+dataHeadline+'</div>';
    }
    
    //Make sure the User has not accidentally chosen "Use this for Mobile" through the settings, but still hasn't loaded any mobile image
    if (dataSmallScreen) {
      $.get(dataSmallScreen)
        .fail(function() { 
         additionalimage = '';
         additionalimageSet = '';
         dataSmallScreen=false;
        })
    }
    
    {% if settings.slider_hidetextbox or settings.slider_showtextbelow %}
      mobileTextDisplay='hideformobile';
    {% endif %}

    if (dataBgColor.length === 0) {
      dataBgColor='undefined';
    }

    if (dataSrc === undefined) {
      dataSrc = $(self).find('img').data("src");
    }

    //Create the Shopify image Sizes for the Desktop Image
    bigshopifysizer(dataSrc,img_1024,img_600,img_480,img_240,img_50);
    
    if (dataSmallScreen) {
      smallscreenclass='mobile-img-set',
      divsmallscreenclass='smallenablediv';
      //Create the Shopify image Sizes for the Mobile Image
      smallshopifysizer(dataSmallScreen,img_1024,img_600,img_480,img_240,img_50);
      //only load the mobile Image when the viewport is smaller than theMobileImgWidth-1px.
      additionalimage += '<img';
      additionalimage += ' srcset="'+newdataSmallSrc_1024+' 1024w,   '+newdataSmallSrc_600+' 600w,   '+newdataSmallSrc_480+' 480w,    '+newdataSmallSrc_240+' 240w"';
      additionalimage += ' class="mobilescreen"';
      //additionalimage += ' src="'+dataSmallScreen+'"';
      additionalimage += ' alt="'+dataAlt+'" />';
      //console.log(additionalimageSet);

      additionalimageSet = '<source';
      additionalimageSet += ' srcset="'+newdataSmallSrc_1024+' 1024w,   '+newdataSmallSrc_600+' 600w,   '+newdataSmallSrc_480+' 480w,    '+newdataSmallSrc_240+' 240w" />';
    }

    home_slides += '<div class="slideheld">'
    home_slides += '<div>';
    if (dataLink && !dataPromptLink) {
    home_slides += '<a id="slide-data-container" class="'+divsmallscreenclass+'" data-bgcolor="' + dataBgColor + '" data-smallscreen="'+ dataSmallScreen +'" data-repeat="' + dataRepetition + '" href="' + dataLink + '" title="'+dataAlt+'">';
    }
    else{
    home_slides += '<section id="slide-data-container" class="'+divsmallscreenclass+'" data-bgcolor="' + dataBgColor + '" data-smallscreen="'+ dataSmallScreen +'" data-repeat="' + dataRepetition +'">';
    }
    home_slides += '<div class="textoverlay '+dataAlignment+' '+mobileTextDisplay+' '+dataBoxStyle+'">';
    home_slides += '<div class="encircle">';
    home_slides += '<div class="tightwidth">';
    home_slides += '<section class="offsetabs">';
    home_slides += headline_html ;
    home_slides += '<div class="lead">'+dataLead+'</div>';
    if (dataPrompt) {
      if (dataPromptLink) {
        home_slides += '<a class="linkprompt" href="'+dataPromptLink+'">'+dataPrompt+'</a>';
      }
      else{
        home_slides += '<div class="linkprompt">'+dataPrompt+'</div>';
      }
    }
    home_slides += '</section></div></div></div>';
    //only load the desktop img when the viewport is wider than theMobileImgWidth. On smaller viewports, always load the mobile equivalents, if they exist.
    home_slides += '<picture>';
    home_slides += '<source';
    if (dataSmallScreen) {
    home_slides += ' media="(min-width: '+theMobileImgWidth+'px)"';
    }
    home_slides += ' srcset="'+dataSrc+' '+theImgWidth+'w, '+newdataSrc_1024+' 1024w,   '+newdataSrc_600+' 600w,   '+newdataSrc_480+' 480w,    '+newdataSrc_240+' 240w" />';
    if (dataSmallScreen) {
      home_slides +=  additionalimageSet;
    }
    home_slides += '<img';
    home_slides += ' class="swapper '+smallscreenclass+'"';
    home_slides += ' srcset="'+dataSrc+'"';
    //home_slides += ' src="'+dataSrc+'"';
    home_slides += ' alt="'+dataAlt+'" />';
    home_slides += '</picture>';
    if (dataSmallScreen) {
      home_slides += additionalimage;
    }
    if (dataLink && !dataPromptLink) {
    home_slides += '</a>';
    }
    else{
    home_slides += '</section>';  
    }
    home_slides += '</div>'
    home_slides += '</div>';

    if (dataShowPagination) {
      if (dataThumbPagination) {
        thumb_render += '<li>';
        thumb_render += '<a>';
        thumb_render += '<img';
        thumb_render += ' class="thumbswapper"';
        thumb_render += ' src="'+newdataSrc_50+'"';
        thumb_render += ' alt="'+dataAlt+'" /> ';
        thumb_render += '</a>';
        thumb_render += '</li>';
      }
      mobile_next_prev_render += '<li><a>&bull;</a></li>';
    }

    {% unless settings.slider_hidetextbox %}
      {% if settings.slider_showtextbelow %}
        mobile_content_for_each_slide += '<div class="textoverlay '+dataAlignment+' '+dataBoxStyle+'">';
        mobile_content_for_each_slide += '<div class="encircle">';
        mobile_content_for_each_slide += '<div class="tightwidth">' + headline_html ;
        mobile_content_for_each_slide += '<div class="lead textfits">'+dataLead+'</div>';
        if (dataPrompt) {
          if (dataPromptLink) {
            mobile_content_for_each_slide += '<a class="linkprompt textfits" href="'+dataPromptLink+'">'+dataPrompt+'</a>';
          }
          else{
            mobile_content_for_each_slide += '<div class="linkprompt textfits">'+dataPrompt+'</div>';
          }
        }
        mobile_content_for_each_slide += '</div></div></div>';
      {% endif %}
    {% endunless %}
    
  });

  //$('#home_feature_images').remove();
  $( "#home_feature" ).fadeTo( "fast" , 1, function() {});

  
  full_render +='<div id="home-carousel" class="carousel">';
  full_render +='<div class="slides">' + home_slides + '</div>';
  if (dataShowPagination) {
    full_render +='<div class="paginationwrap">';
    //next/previous
    if (dataPrevNextPagination) {
      if (thelength > 1) {
        full_render +='<ul class="menu">';
        full_render +='<li class="prev"><span></span></li>';
        full_render +='<li class="next"><span></span></li>';
        full_render +='</ul>';
      }
    }
    //thumbnails
    if (dataThumbPagination) {
      full_render +='<ul class="thumb_pagination">';
      full_render += thumb_render;
      full_render += '</ul>';
    }

    full_render += '<ul class="mobile-pagination">';
    full_render +=  mobile_next_prev_render;
    full_render += '</ul>';

    full_render +='</div>';
  }
  full_render +='</div>';

  {% unless settings.slider_hidetextbox %}
    {% if settings.slider_showtextbelow %}
      mobile_content += '<div id="mobile_content">'+mobile_content_for_each_slide+'</div>';
    {% endif %}
  {% endunless %}

  $('#home_feature').prepend(full_render);
  $('#home_feature').append(mobile_content);
  
  // Initiate carousel
  $('#home-carousel').carousel({
        timerDuration: {{ settings.slider_timerDuration }},
        animationDuration: {{ settings.slider_animDuration }},
        useSwipeGestures: true,
        useTimer: {{ settings.slider_autoPlay }}
  });
};
if ($('#home_feature_images a').length > 0) {$(document).ready(function () {Initiated();});}
</script>