{% assign slides = settings.slide_order | split:',' %}
{% assign loop = slides.size | minus: 1 %}
{% unless loop == '0' %}
<div id="slider">
  <div id="home">
    <div id="home_feature"
      style="background-color:{{ settings.viewport_bg }};" 
      {% if settings.showtextbox %}class="hidetextboxformobile"{% endif %} 
      data-normalwidth="{{ settings.normalwidth }}" 
      data-normalheight="{{ settings.normalheight }}" 
      data-mobilewidth="{{ settings.mobilewidth }}" 
      data-mobileheight="{{ settings.normalwidth }}">
    </div>
    <div 
      id="home_feature_images" 
      data-showpagination="{{ settings.showpagination }}"
    >
    {% for i in (0..loop) %}
      {% capture alignment %}slide{{ slides[i] }}_box_alignment{% endcapture %}
      {% capture showfordesktop %}slide{{ slides[i] }}_showtextbox_full{% endcapture %}
      {% capture showformobile %}slide{{ slides[i] }}_showtextbox{% endcapture %}
      {% capture headline %}slide{{ slides[i] }}_headline{% endcapture %}
      {% capture lead %}slide{{ slides[i] }}_lead{% endcapture %}
      {% capture prompt %}slide{{ slides[i] }}_prompt{% endcapture %}
      {% capture repetition %}slide{{ slides[i] }}_repeat{% endcapture %}
      {% capture bgcolor %}slide{{ slides[i] }}_bgcolor{% endcapture %}
      {% capture usesm %}slide{{ slides[i] }}_sm_use{% endcapture %}     
      {% capture slidesmall %}slide{{ slides[i] }}_sm.jpg{% endcapture %}     
      {% capture link %}slide{{ slides[i] }}_link{% endcapture %}
      {% capture alt %}slide{{ slides[i] }}_alt{% endcapture %}
      {% capture slide %}slide{{ slides[i] }}.jpg{% endcapture %}
      {% capture style %}slide{{ slides[i] }}_box_style{% endcapture %}

      <a 
        data-style="{{ settings[style] }}" 
        data-alignment="{{ settings[alignment] }}" 
        data-showfordesktop="{{ settings[showfordesktop] }}" 
        data-showformobile="{{ settings[showformobile] }}" 
        data-headline="{{ settings[headline] }}" 
        data-lead="{{ settings[lead] }}" 
        data-prompt="{{ settings[prompt] }}" 
        data-repeat="{{ settings[repetition] }}" 
        data-bgcolor="{{ settings[bgcolor] }}" 
        data-smallscreen="{% if settings[usesm] %}{{ slidesmall | asset_url }}{% else %}false{% endif %}" 
        href="{{ settings[link] }}">
        <img 
          src="{{ slide | asset_url }}" 
          alt="{{ settings[alt] }}" 
        />
      </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endunless %}